<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-Friendly Control Panel.</h2>
  </header>
  <div class="grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        srcset="images/ipad.webp 1, images/ipad@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="images/ipad.png 1, images/ipad@2x.png 2x"
        type="image/png"
      />
      <img class="block-showcase__image" src="images/ipad.png" alt="" />
    </picture>
    <div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
            nostrum?
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, GIT & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
            nostrum?
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching and More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
            nostrum?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
