<section class="block block--skewed-left container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, facilis
      sed sit nisi repellendus dolorum aut itaque nulla dicta quos.
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">
      <div>Header</div>
    </header>
    <div class="card__body">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea, nihil!
        Nemo incidunt sit nihil recusandae consectetur, maiores architecto
        consequuntur dolorum.
      </p>
    </div>
  </div>
</section>
<section class="block block--skewed-right block--dark">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, facilis
      sed sit nisi repellendus dolorum aut itaque nulla dicta quos.
    </p>
  </div>
</section>
