<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, facere.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 feature__heading>Simple fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero neque
        eligendi sint explicabo molestias voluptatum doloribus eaque provident
        quod reprehenderit?
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>

      <h3 feature__heading>Simple fast websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero neque
        eligendi sint explicabo molestias voluptatum doloribus eaque provident
        quod reprehenderit?
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
</section>
