<section class="block container block-domain">
  <header class="block__header">
    <h1>Starting at $9 per month.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium
      quae quos maxime dolorum praesentium ipsum maiores, laborum quo,
      consectetur nihil non. Alias numquam sapiente doloremque laboriosam ex
      nisi ipsa.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li class="block-domain__price">.com $9 1</li>
    <li class="block-domain__price">
      <span class="badge badge--secondary">.sg $10</span>
    </li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
