<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, maxime.
  </p>
  <footer class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">Jhone Lumeo</h3>
      <p class="quote__organization">Mosh company CEO</p>
    </div>
  </footer>
</blockquote>
