<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy smiling customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--small icon--white">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam est
        reprehenderit alias vero fugiat vitae. Asperiores aspernatur, corporis
        nisi modi voluptatem sed officiis quos reiciendis placeat vel
        architecto, officia reprehenderit.
      </p>
      <footer class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Jhone Lumeo</h3>
          <p class="quote__organization">Mosh company CEO</p>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
